<div class="clickable-card">
    <a href="<%= domain%>" target="_blank">
        <img src="<%= image%>" alt="<%= alt%>">
        <div>
            <div>
                <h4><%= title%></h4>
                <p><%= description%></p>
            </div>
            <span class="material-icons"><%= icon%></span>
        </div>
    </a>
</div>