<div class="clickable-card" id="<%= domain%>">
    <img src="<%= image%>" alt="<%= alt%>">
    <div>
        <div>
            <h4>
                <%= title%>
            </h4>
            <p>
                <%= description%>
            </p>
        </div>
        <span class="material-icons">
            <%= icon%>
        </span>
    </div>
</div>