---
import BlogInfo from "./blog-info.astro";

const { url, frontmatter } = Astro.props;

const { title, date, author } = frontmatter;
---

<figure>
    <a href={url}>
        <div class="text-container">
            <figcaption>
                { title }
                { frontmatter.lang == "sk" && <img src="/images/flag-sk.jpg" alt="" aria-label="Article language: Slovak" /> }
            </figcaption>
            <BlogInfo date={date} author={author} />
        </div>
        { frontmatter.image &&
            <img src={frontmatter.image.src} alt={frontmatter.image.alt} />
        }
    </a>
</figure>

<style>
    figure {
        padding: 0.7rem 1.3rem;
        border: 1px solid var(--secondary-background-dark);
        border-radius: 12px;
    }

    figure > a:hover > h1, figure > a:active > h1 {
        color: var(--primary-accent-dark);
    }

    a {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 0.5rem;

        text-decoration: none;
    }

    img {
        object-fit: cover;
        aspect-ratio: 16 / 9;
        height: 5rem;
    }

    figcaption {
        font-size: 1.5rem;
        font-weight: 600;
    }

    figcaption > img {
        width: 1.4rem;
        height: 0.9rem;
        border-radius: 3px;
        margin-left: 3px;
        margin-bottom: 0.1px;
    }

    @media (max-width: 650px) {
        figure {
            border: none;
            border-radius: 0;
            border-top: solid 1px var(--secondary-background-dark);
            padding: 1rem 0;
        }

        figure:last-child {
            border-bottom: solid 1px var(--secondary-background-dark);
        }

        a {
            flex-direction: column-reverse;
            align-items: start;
            gap: 0.7rem;
        }

        img {
            width: 100%;
            height: auto !important;
        }

        .text-container {
            margin-left: 0.5rem;
        }
    }
</style>
