---
import NavbarLayout from "./navbar.astro";

import "../styles/default-padding.css";
import "../styles/article.css";

const { frontmatter } = Astro.props;

const title = `${frontmatter.title} | ${frontmatter.author}` || "Jakub Gustafik";
const dateString = new Date(frontmatter.date).toLocaleString("en-US", { month: "long", day: "numeric", year: "numeric" });
---

<NavbarLayout title={title} meta={[]} fixed={true}>
    <header>
        <h1>{frontmatter.title}</h1>
        <p id="article-description">{frontmatter.description}</p>
        <div id="article-info" class="faded">
            <p>{dateString}</p>
            <p>|</p>
            <p>{frontmatter.author}</p>
        </div>
    </header>
    <slot />
</NavbarLayout>

<style>
    main {
        padding-inline: 28vw;
    }

    @media (max-width: 1000px) {
        main {
            padding-inline: 10vw;
        }
    }

    @media (max-width: 480px) {
        main {
            padding-inline: 3vw;
        }
    }

   header {
        border-bottom: 1px solid var(--secondary-background-dark);

        padding-bottom: 2.5rem;
    }

    header h1 {
        font-size: 3rem;
        font-weight: 600;
    }

    #article-description {
        margin-top: 1rem;
        font-size: 1.5rem;
    }

    #article-info {
        margin-top: 1.6rem;

        display: flex;
        gap: 1rem;
    }

    #article-info p {
        font-size: 1.25rem;
    }
</style>
