---
import CoreLayout from "../layouts/core-layout.astro";
import Navbar from "../components/navbar.astro";
import BlogInfo from "../components/blog-info.astro";

import "../styles/default-padding.css";

const { frontmatter } = Astro.props;
---

<CoreLayout
    title={`${frontmatter.title} | ${frontmatter.author}`}
    description={frontmatter.description}
    image={frontmatter.image?.src ?? ""}
    og_title={frontmatter.title}
    og_type="article"
    frontmatter={frontmatter}
>
    <Navbar fixed={true} />

    <header>
        { frontmatter.image &&
            <img src={frontmatter.image?.src} alt={frontmatter.image?.alt} />
        }
        <h1>{frontmatter.title}</h1>
        <p id="article-description">{frontmatter.description}</p>
        <BlogInfo date={frontmatter.date} author={frontmatter.author} />
    </header>

    <main>
        <slot />
    </main>
</CoreLayout>

<style>
    @media (min-width: 500px) {
        header, main {
            margin-inline: 5vw;
        }
    }

    header {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-bottom: 2.5rem;
        border-bottom: 1px solid var(--secondary-background-dark);
        font-size: 1.5rem;
    }

    header img {
        width: 100%;
        aspect-ratio: 16 / 9;
        object-fit: cover;
    }

    header h1 {
        font-size: 3rem;
        font-weight: 600;
        line-height: 1.1;
        margin-top: 1rem;
    }
</style>

<style is:global>
    main {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        font-size: 1.25rem;
    }

    main ul > li, main ol > li{
        margin-left: 1.25rem;
    }

    main li.task-list-item {
        margin-left: 0.1rem;
        list-style-type: none;
    }

    main pre.astro-code {
        border-radius: 12px;
        background-color: var(--secondary-background-dark);
        padding: 1rem;
        font-size: 1rem;
    }

    main blockquote {
        border-left: 0.25rem solid var(--primary-accent-dark);
        padding-left: 1rem;
    }

    main img {
        max-width: 100%;
    }
</style>
